.seccionRecetas{
    width: 100%;
    padding: 70px 3vw;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow: hidden;
}
.recetas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
    align-items: center;
}
.cuadroReceta{
    display: flex;
    border: 1px solid black;
    width: 340px;
    height: auto;
}
.cuadroReceta img{
    width: 150px;
    height: auto;
}
.textoReceta{
    padding: 10px;
}
.textoReceta h1{
    margin: 0;
    font-size: 20px;
}
.textoReceta p{
    margin: 0;
    font-size: 13px;
}
.textoReceta button{
    margin-top: 10px;
    padding: 7px;
}

