.seccionRecetas{
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    margin-top: 50px;
    overflow: hidden;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5vw;
}
.tituloRecetas{
    width: 95vw;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    background-color: rgb(60, 60, 60);
    font-size: 40px;
    font-family: sans-serif;
    margin: 0;
    text-align: center;
    padding-block: 15px;
    border-radius: 50px;
    margin-bottom: 10px;
}
.recetas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: left;
    align-items: center;
    margin-block: 2vw;
}
.cuadroReceta{
    display: flex;
    border: 1px solid gray;
    width: 28vw;
    height: 15vw;
}
.cuadroReceta img{
    width: 15vw;
    height: 15vw;
    height: auto;
}
.textoReceta{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-around;
}
.textoReceta h1{
    margin: 0;
    font-size: 1.4vw;
}
.textoReceta p{
    margin: 0;
    font-size: 1vw;
}
.textoReceta a{
    margin-top: 0.5vw;
    width: 6vw;
    padding: 0.7vw;
    text-align: center;
    text-decoration: none;
}
@media (max-width: 1200px){
    .seccionRecetas{
        width: 100%;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        margin-top: 50px;
        overflow: hidden;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 5vw;
    }
    .tituloRecetas{
        width: 95vw;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        color: white;
        background-color: rgb(60, 60, 60);
        font-size: 40px;
        font-family: sans-serif;
        margin: 0;
        text-align: center;
        padding-block: 15px;
        border-radius: 50px;
        margin-bottom: 10px;
    }
    .recetas{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 2vw;
        justify-content: center;
        align-items: center;
    }
    .cuadroReceta{
        display: flex;
        border: 1px solid gray;
        width: 340px;
        height: 180px;
        justify-content: space-around;
    }
    .cuadroReceta img{
        width: 170px;
        height: 170px;
        height: auto;
    }
    .textoReceta{
        display: flex;
        flex-direction: column;
        padding: 10px;
        justify-content: space-around;
    }
    .textoReceta h1{
        margin: 0;
        font-size: 18px;
        font-weight: bold;
    }
    .textoReceta p{
        margin: 0;
        font-size: 11px;
    }
    .textoReceta a{
        margin-top: 10px;
        padding: 7px 0px;
        width: 90px;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
    }
}
